<% if @story.errors.any? %>
  <p>Errors:</p>
  <ul>
    <% @story.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @story, html: {multipart: true} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <%= f.label :body %>
  <%= f.text_area :body, placeholder: 'Contribute breaking news' %>
  <%= f.label :photo %>
  <%= f.file_field :photo %>
  <div class='styled-select'>
    <%= f.select :category_id, Category.all.collect{ |c| [c.name, c.id] }, {prompt: 'Select Category'} %>
  </div>
  <%= f.label :location %>
  <div class='styled-select'>
    <%= f.select :neighborhood_id, Neighborhood.all.collect { |n| [n.name, n.id] }, {prompt: 'Select Neighborhood'} %>
  </div>
  <% if !@story.location %>
    <%= f.text_field :location, placeholder: 'Location' %>
  <% else %>
    <%= f.text_field :location, value: @story.location.name %>
  <% end %>
  <%= f.submit %>
<% end %>