<h2><%= @story.title %></h2>
<p><%= @story.created_at %></p>
<p><%= link_to @story.category.name, @story.category %></p>
<p><%= @story.neighborhood.name %>: <%= @story.location.name %></p>
<p><%= @story.body %></p>
<% if current_user == @story.user %>
  <%= link_to "Edit story", edit_story_path(@story) %>
  <%= link_to "Delete story", story_path(@story), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
<% end %>

<!-- ######### -->


<h3<Nearby Locations</h3>
<% location = @story.location %>
<ul>
<% for location in location.nearbys(10) %>
     <li><%= link_to location.address, location %>(<%= location.distance.round(2) %>miles)<
<% end %>
</ul>
  <!--
<% my_url = "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15" %>
<% @story.all each do |story| %>
  <% my_url += "&markers=#{story.location.latitude}%2C#{story.location.longitude}" %>
  <% end %> <%= image_tag my_url %>
 -->
<!-- ######### -->

<div class='comments'>
  <% @story.comments.each do |comment| %>
    <p><%= comment.body %></p>
    <p><%= comment.user.email.split('@').first %></p>
    <% if current_user == comment.user %>
      <%= link_to "Edit", edit_comment_path(comment) %>
      <%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
    <% end %>
  <% end %>
</div>

<p><%= flash[:bad_comment] %></p>

<%= form_tag "/stories/#{@story.id}/comments" do %>
  <%= label_tag :body %>
  <%= text_area_tag :body %>
  <%= submit_tag "Add comment" %>
<% end %>
