<div class='neighborhood-show'>
  <h2><%= @neighborhood.name %></h2>

  <% @stories.each do |story| %>
    <% @url += "|#{story.location.latitude},#{story.location.longitude}" %>
  <% end %>
  <%= image_tag @url %>

  <% @stories.each do |story| %>
    <div class='story'>
      <h3><%= link_to story.title, story %></h3>
      <p><%= story.preview %></p>
      <p class='author'><%= story.username %>, <%= story.created_at.strftime("%l:%M %P, %m/%d/%y") %></p>
    </div>
    <div class='clear-right'></div>
  <% end %>

  <p class='return'><%= link_to "All Neighborhoods", neighborhoods_path %></p>
  <div class="clear"></div>
</div>